#logo
{
    align-items: center;
    text-align: center;
    background-color: #333;
}
.nav-wrapper
{
  background-color: #ffffff;
  padding: 5px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}


footer{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

/* this styling is changing it from vertical to horizontal */
.nav-list
{
  list-style: none;
  padding: 0;
  display: flex;
  align-items: stretch;
  text-align: right ;
  justify-content: space-around;
  width: 100%
}


.nav-list
li{
  display:inline;
  margin: 0px;
}




/* slide show 


.....
.....
.....




*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* search baar in nav  */
.search {
    width: 100%;
    padding-right: 35px;
    height: 2.25rem;
    font-family: inherit;
    font-weight: 300;
    border-radius: 3px;
    letter-spacing: normal;
    color: #333;
    border: 1px solid #bbb;
    -webkit-appearance: none;
    font-size: 22px;
    font-size: 1.375rem;
    padding-left: 50px;
}
.button
{
  height: 2.50rem;border: 1px solid rgb(0, 0, 0);
 width: 100%;
}


#social-media-container{
  background-color: black;
  display: inline-block;
  position: fixed;
  right: 0;
  bottom: 50%;
}


#social-media-container:hover{
  cursor: pointer;
}


#facebook-icon-container{
  background-color: #f8f8f8;
  transition: .5s;
}
#facebook-icon-container:hover{
  padding-left: 20%
}
#twitter-icon-container{
  background-color: hsl(0, 0%, 100%);
  transition: .5s;
}
#twitter-icon-container:hover{
  padding-left: 20%
}
#intsa-icon-container{
  background-color: #ffffff;
  transition: .5s;
}
#insta-icon-container:hover{
  padding-left: 20%
}

#payzaph:hover{
  padding: 20px;
  background-color: #222121;
}

#icicih:hover{
  padding: 20px;
  background-color: #222121;
}
#hdfch:hover{
  background-color: #222121;
  padding: 20px;
}
#tatah:hover{
  padding: 20px;
  background-color: #222121;
}




h1{
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}


 
h2{
  color: black;
  text-align: center;
}

h4{
  color: white;
}
#consec{
  color: #000000;
  text-align: left;
  text-decoration:none;
}


hr.rounded {
  border-top: 8px solid rgb(0, 0, 0);
  border-radius: 5px;
}
hr.solid {
  border-top: 3px solid #bbb;
}




/* categories */


.feature-wrapper
{
  position: relative;
  display: flex;
  overflow: auto;
  justify-content:space-evenly;

}




#pop-cat{
  text-align: center;
}







.product-container{
  background-color: #000000;
  text-align: center;
  max-width: 20%;
  position: relative;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  margin-top: 8px;
  animation-name: product-container-anim;
  animation-duration: 2s;
  border-color: #000000;
}

.lbrand
{
  position: relative;
  display: flex;
  overflow: auto;
  justify-content: space-around;

}


.aboutsec{
  background-color:#333;
}




/* end */